  <div class="container my-5">
    <div class="mx-auto col-12 my-5">
      <form method="post" action="/" class="login my-5">
        <h2 class="mx-auto col-7 my-3 text-center font-weight-normal">Account Login</h2>
        <input type="text" class="email form-row mx-auto col-7 my-4 border border-dark" placeholder="Email"  style="height: 40px;">
        <input type="text" class="password form-row mx-auto col-7 my-4 border border-dark" placeholder="Password" style="height: 40px;">
        <div class="submit mx-auto col-4 my-5">
          <button class="px-4 py-2 bg-white border border-secondary rounded-lg shadow-sm">Sign in</button>          
        </div>
      </form>
    </div>
  </div>