<nav class="float-right">
  <a class="navbar-brand text-secondary" href="/">Home</a>
  <a class="navbar-brand text-secondary" href="/logout">Logout</a>
</nav>

<h1>Welcome back, {{userName}}!</h1>